.idea/

.venv

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.whl
*.mypy_cache/
*.pytest_cache/
*.coverage
*.cover
*.hypothesis/
*.tox/
*.coverage.*
*.DS_Store
*.vscode/
*.ipynb_checkpoints
*.log

poetry.lock